<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="myConnectionString" connectionString="user id=pd;password=pd;data source=ORCL" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>